.products {
  justify-content: space-evenly;
}

.box {
  color: #000;
  &__title {
    font-size: calculateRem(52px);
  }
  &__text {
    color: #888;
    line-height: 1.56;
  }
  &__link {
    font-size: calculateRem(14px);
    letter-spacing: 2.8px;

    &-image {
      width: 24px;
      height: 12px;
      margin-left: 1rem;
    }
  }
}

.single-product {
  @media screen and (max-width: 1500px) {
    &__image {
      width: 90%;
    } 
  }
  @media screen and (max-width: 1400px) {
    &__image {
      width: 80%;
    } 
  }
  @media screen and (max-width: 1300px) {
    &__image {
      width: 70%;
    } 
  }
  @media screen and (max-width: 1000px) {
    &__image {
      width: 60%;
    } 
  }
}