.products {
  justify-content: space-evenly;
}

.box {
  color: #000;
  &__title {
    font-size: calculateRem(52px);
  }
  &__text {
    color: #888;
    line-height: 1.56;
  }
  &__link {
    font-size: calculateRem(14px);
    letter-spacing: 2.8px;

    &-image {
      width: 24px;
      height: 12px;
      margin-left: 1rem;
    }
  }
}