.carousel {
  &-caption {
    top: 50%;
    transform: translateY(-50%);
    bottom: auto;
  }

  &-indicators {
    margin: 2.5rem 15%;
    li {
      font-size: calculateRem(15px);
      text-indent: 0;
      border-top: none;
      border-bottom: 3px solid $primary;
      background-color: transparent;
      color: $primary;
      height: auto;
      opacity: .2;
    }
  }
}

@media screen and (max-width: 1376px) {
  .display-2 {
    font-size: $display2-size - 1rem;
  }
  .display-4 {
    font-size: $display4-size - 1rem;
  }
}

@media screen and (max-width: 1130px) {
  .display-2 {
    font-size: $display2-size - 2rem;
  }
  .display-4 {
    font-size: $display4-size - 2rem;
  }
}
@media screen and (max-width: 900px) {
  .display-2 {
    font-size: $display2-size - 3rem;
  }
  .display-4 {
    font-size: $display4-size - 2.5rem;
  }
}
@media screen and (max-width: 578px) {
  .display-2 {
    font-size: $display2-size - 3.5rem;
  }
  .carousel-indicators {
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 446px) {
  .display-2 {
    font-size: $display2-size - 4rem;
  }
}