footer
  .container-fluid.d-flex.flex-column.align-items-center.bg-primary.text-white.p-5
    h4 Subscribe to Newslatter
    .subscribe.input-group.mb-3.w-25.my-4
      input.subscribe__input.form-control.bg-transparent.border-0(type='text' placeholder="Your E-mail" aria-label="Your E-mail" aria-describedby='button-addon2')
      .input-group-append
        button#button-addon2.subscribe__button.btn.btn-outline-secondary.border-0.pr-0(type='button') SUBSCRIBE
          img.subscribe__button-image(src="images/big-right-arrow-white.png")
    .social
      i.p-2.fab.fa-pinterest
      i.p-2.fab.fa-behance
      i.p-2.fab.fa-dribbble