nav.navbar.navbar-expand-md.navbar-light.bg-transparent
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNavAltMarkup' aria-controls='navbarNavAltMarkup' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
  a.logo.navbar-brand.text-center.order-md-2.m-md-0(href='#')
    span.logo__top.d-block Fima
    span.logo__bottom.d-block.text-uppercase Fashion House
  #navbarNavAltMarkup.collapse.navbar-collapse.order-md-1.justify-content-md-end.mr-md-4
    .navbar-nav.text-uppercase.justify-content-md-around
      a.nav-item.nav-link.active.py-2(href='#') Home
      a.nav-item.nav-link.py-2.ml-md-4(href='#') Design
  #navbarNavAltMarkup.collapse.navbar-collapse.order-md-3.justify-content-md-start.ml-md-4
    .navbar-nav.text-uppercase.justify-content-md-around
      a.nav-item.nav-link.py-2.mr-md-4(href='#') About
      a.nav-item.nav-link.py-2(href='#') Contacts