nav.navbar.navbar-expand-md.navbar-light.bg-transparent
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
  a.logo.navbar-brand.text-center.order-md-2.m-md-0(href='#')
    span.logo__top.d-block Fima
    span.logo__bottom.d-block.text-uppercase Fashion House
  #navbarNav.collapse.navbar-collapse.order-md-1.justify-content-md-end
    .navbar-nav.text-uppercase.w-20.justify-content-md-around
      a.nav-item.nav-link.active(href='#') Home
      a.nav-item.nav-link(href='#') Design
  #navbarNav.collapse.navbar-collapse.order-md-3.justify-content-md-start
    .navbar-nav.text-uppercase.w-20.justify-content-md-around
      a.nav-item.nav-link(href='#') About
      a.nav-item.nav-link(href='#') Contact
