main
  .container-fluid.px-0
    section.row.no-gutters
      .col-12.col-md-5
        img.d-block.w-100(src="images/accesories.jpg", alt="Accesories image")
      .col-12.col-md-7
        .products.d-flex.align-items-center.h-100
          .single-product.products__item
            img(src="images/headphone.png").single-product__image
            h5.single-product__title.text-primary.pt-3 Headphone
            span.single-product__price.d-block.pt-2.text-secondary 90$
          .single-product.products__item
            img(src="images/backpack.png").single-product__image
            h5.single-product__title.text-primary.pt-3 Backpack
            span.single-product__price.d-block.pt-2.text-secondary 90$
    section.row.no-gutters
      .col-12.col-md-5.d-flex.flex-column.justify-content-center.align-items-center
        .box.w-50
          h1.box__title.d-inline-block Summer Fashion
          p.box__text.py-2 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec   id metus ut urna dictum accumsan id ut nulla.
          a.box__link DISCOVER
            img.box__link-image(src="images/big-right-arrow.png")
      .col-12.col-md-7 
        img.d-block.w-100(src="images/summer-fashion.jpg", alt="Summer fashion image")
    section.row.no-gutters
      .col-12.col-md-5
        img.d-block.w-100(src="images/products.jpg", alt="Products image")
      .col-12.col-md-7
        .products.d-flex.align-items-center.h-100
          .single-product.products__item
            img(src="images/shoe.png").single-product__image
            h5.single-product__title.text-primary.pt-3 Working Shoe
            span.single-product__price.d-block.pt-2.text-secondary 90$
          .single-product.products__item
            img(src="images/coffee.png").single-product__image
            h5.single-product__title.text-primary.pt-3 Coffee Mug
            span.single-product__price.d-block.pt-2.text-secondary 90$
    section.row.no-gutters
      .col-12.col-md-5.d-flex.flex-column.justify-content-center.align-items-center
        .box.w-50
          h1.box__title.d-inline-block Winter Fashion
          p.box__text.py-2 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec   id metus ut urna dictum accumsan id ut nulla.
          a.box__link DISCOVER
            img.box__link-image(src="images/big-right-arrow.png")
      .col-12.col-md-7
        img.d-block.w-100(src="images/winter-fashion.jpg", alt="Winter fashion image")