section.container-fluid.p-0
  #carouselExampleIndicators.carousel.slide.carousel-fade.text-center(data-ride='carousel')
    .carousel-inner
      .carousel-item.active
        <img src="images/hero.jpg" class="d-block w-100" alt="TREAND and FASHION slide">
        .carousel-caption.d-block
          h1.display-2 TREAND & FASHION
          h1.display-4 2018-2019
          button.btn.btn-primary(type='button') DISCOVER
      .carousel-item
        <img src="images/hero.jpg" class="d-block w-100" alt="TREAND and FASHION slide">
        .carousel-caption.d-block
          h1.display-2 TREAND & FASHION
          h1.display-4 2018-2019
          button.btn.btn-primary(type='button') DISCOVER
      .carousel-item
        <img src="images/hero.jpg" class="d-block w-100" alt="TREAND and FASHION slide">
        .carousel-caption.d-block
          h1.display-2 TREAND & FASHION
          h1.display-4 2018-2019
          button.btn.btn-primary(type='button') DISCOVER
    ol.carousel-indicators
      li.active(data-target='#carouselExampleIndicators' data-slide-to='0') 1
      li(data-target='#carouselExampleIndicators' data-slide-to='1') 2
      li(data-target='#carouselExampleIndicators' data-slide-to='2') 3
  